@model Assignment

<body>


    <div class="row justify-content-between ">

        <div class="col text-center offset-1">
            <h3>Choose Assignment for @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName
                @ViewBag.RescuerToAdd.LastName </h3>
        </div>

        <div class="col-1">
            <form asp-action="AvailablePersonnel" asp-controller="Home" asp-method="post">
                <input class="btn btn-outline-info btn-sm " type="submit" value="Back">
            </form>
        </div>
    </div>



    @if(ViewBag.RescuerToAdd.Rank=="EMT-B")
    {
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card ambulance_background">
                <div class="card-header text-center">
                    <h3>Ambulances Available For Assignment</h3>
                </div>
                <div class="card-body text-center">

                    <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                        <div class="row justify-content-center">
                            <div class="col-6 offset-2">
                                <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                    @foreach(Unit a in ViewBag.Ambulances)
                                    {
                                    <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                    }
                                </Select><br>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <input class="form-control form-control-lg btn btn-success assign_button " type="submit"
                                    value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Ambulance">
                                <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">


                            </div>
                        </div>

                    </form><br>
                </div>
            </div>
        </div>
    </div>
    }


    @if(ViewBag.RescuerToAdd.Rank== "Paramedic")
    {
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card medic_background">
                <div class="card-header text-center">
                    <h3>Medics Available For Assignment</h3>
                </div>
                <div class="card-body text-center">

                    <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                        <div class="row justify-content-center">
                            <div class="col-6 offset-2">
                                <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                    @foreach(Unit a in ViewBag.Medics)
                                    {
                                    <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                    }
                                </Select><br>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <input class="form-control form-control-lg btn btn-success " type="submit"
                                    value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Medic">
                                <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">


                            </div>
                        </div>

                    </form><br>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
            <div class="col-4">
                <div class="card engine_background">
                    <div class="card-header text-center">
                        <h3>Engines Available For Assignment</h3>
                    </div>
                    <div class="card-body text-center">
    
                        <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                            <div class="row justify-content-center">
                                <div class="col-6 offset-2">
                                    <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                        @foreach(Unit a in ViewBag.Engines)
                                        {
                                        <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                        }
                                    </Select><br>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <input class="form-control form-control-lg btn btn-success assign_button" type="submit"
                                        value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Engine">
    
    
                                </div>
                            </div>
    
                        </form><br>
                    </div>
                </div>
            </div>
        </div>

    }
    @if(ViewBag.RescuerToAdd.Rank== "FirefighterI"  |
    ViewBag.RescuerToAdd.Rank== "Lieutenant"){

        <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card engine_background">
                        <div class="card-header text-center">
                            <h3>Engines Available For Assignment</h3>
                        </div>
                        <div class="card-body text-center">
        
                            <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                                <div class="row justify-content-center">
                                    <div class="col-6 offset-2">
                                        <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                            @foreach(Unit a in ViewBag.Engines)
                                            {
                                            <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                            }
                                        </Select><br>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <input class="form-control form-control-lg btn btn-success assign_button" type="submit"
                                            value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Engine">
                                        <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">
        
        
                                    </div>
                                </div>
        
                            </form><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="card truck_background">
                            <div class="card-header text-center">
                                <h3>Trucks Available For Assignment</h3>
                            </div>
                            <div class="card-body text-center">
            
                                <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                                    <div class="row justify-content-center">
                                        <div class="col-6 offset-2">
                                            <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                                @foreach(Unit a in ViewBag.Trucks)
                                                {
                                                <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                                }
                                            </Select><br>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-8">
                                            <input class="form-control form-control-lg btn btn-success assign_button " type="submit"
                                                value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Truck">
                                            <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">
            
            
                                        </div>
                                    </div>
            
                                </form><br>
                            </div>
                        </div>
                    </div>
                </div>

    }


    @if(ViewBag.RescuerToAdd.Rank== "FirefighterII" | ViewBag.RescuerToAdd.Rank== "Lieutenant"){
        <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card engine_background">
                        <div class="card-header text-center">
                            <h3>Engines Available For Assignment</h3>
                        </div>
                        <div class="card-body text-center">
        
                            <form class="form-group " asp-action="ProcessAssignment" asp-method="post">
                                <div class="row justify-content-center">
                                    <div class="col-6 offset-2">
                                        <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                            @foreach(Unit a in ViewBag.Engines)
                                            {
                                            <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                            }
                                        </Select><br>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <input class="form-control form-control-lg btn btn-success assign_button " type="submit" 
                                            value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Engine">
                                        <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId" >
        
        
                                    </div>
                                </div>
        
                            </form><br>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card truck_background">
                        <div class="card-header text-center">
                            <h3>Trucks Available For Assignment</h3>
                        </div>
                        <div class="card-body text-center">
        
                            <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                                <div class="row justify-content-center">
                                    <div class="col-6 offset-2">
                                        <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                            @foreach(Unit a in ViewBag.Trucks)
                                            {
                                            <option value=@a.UnitId>@a.NumberType@a.Number</option>
                                            }
                                        </Select><br>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <input class="form-control form-control-lg btn btn-success assign_button " type="submit"
                                            value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Truck">
                                        <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">
        
        
                                    </div>
                                </div>
        
                            </form><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="card squad_background">
                            <div class="card-header text-center">
                                <h3>Rescue Squads Available For Assignment</h3>
                            </div>
                            <div class="card-body text-center">
            
                                <form class="form-group  " asp-action="ProcessAssignment" asp-method="post">
                                    <div class="row justify-content-center">
                                        <div class="col-6 offset-2">
                                            <Select class="form-control form-control-lg col-6 " asp-for="UnitId">
                                                @foreach(Unit a in ViewBag.RescueSquads)
                                                {
                                                <option class="assign_button" value=@a.UnitId>@a.NumberType@a.Number</option>
                                                }
                                            </Select><br>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-8">
                                            <input class="form-control form-control-lg btn btn-success assign_button " type="submit"
                                                value="Assign @ViewBag.RescuerToAdd.Rank @ViewBag.RescuerToAdd.FirstName @ViewBag.RescuerToAdd.LastName to Rescue Squad">
                                            <input asp-for="RescuerId" type="hidden" value="@ViewBag.RescuerToAdd.RescuerId">
            
            
                                        </div>
                                    </div>
            
                                </form><br>
                            </div>
                        </div>
                    </div>
                </div>
    
    }

   
    <style>
       h3{
           font-weight: 700;
       }
        .row {
            margin-top: 20px;
        }

        .card {
            background-color: white;
        }

        .assign_button {
            border-radius: 15px;
            font-size: 125%;
            color: black;
            font-weight: 600;
        }
        .engine_background{
            background-color: rgb(231, 168, 168)
        }
        .ambulance_background{
            background-color: lightblue;
        }
        .medic_background{
            background-color: gold;

        }
        .truck_background{
            background-color: orange;
        }
        .squad_background{
            background-color: rgb(146, 115, 146);
        }
    </style>

</body>