@model Dispatchh
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        console.log($);
        $(document).ready(function () {

            $('.unit').hover(function () {
                $(this).toggleClass("hover");
            })

        });

    </script>
</head>

<body>

    <div class="container-fluid">

        <div class="row  justify-content-between" style="height:100px">
            <h5>Dispatcher: @ViewBag.Dispatcher.FirstName @ViewBag.Dispatcher.LastName</h5>
            <form asp-action="Dashboard" method="get">
                <input type="submit" class="btn btn-danger" value="Cancel" />
            </form>


        </div>

        <div class="row incident_info_row justify-content-center">

            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col">
                                <h2 class="incident_info">Incident Location</h2>
                            </div>
                            <div class="col">
                                <h2>@ViewBag.IncidentToEdit.Location</h2>
                            </div>
                        </div>
                        <!--end row-->
                        <div class="row justify-content-between incident_info_row">
                            <div class="col">
                                <h2 class="incident_info">Incident Type:</h2>
                            </div>
                            <div class="col">
                                <h2>@ViewBag.IncidentToEdit.Type</h2>
                            </div>
                        </div>
                        <!--end row-->


                        <div class="row justify-content-between incident_info_row">
                            <div class="col">
                                <h2 class="incident_info">Incident Created on:</h2>
                            </div>
                            <div class="col">
                                <h2>@ViewBag.IncidentToEdit.CreatedAt.ToLongDateString()</h2>
                            </div>
                        </div>
                        <!--end row-->

                        <div class="row justify-content-between incident_info_row">
                            <div class="col">
                                <h2 class="incident_info">Notes:</h2>
                            </div>
                            <div class="col">
                                <h2>@ViewBag.IncidentToEdit.Description</h2>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card body-->
                </div>
                <!--end card-->
            </div>
        </div>
        <!--end info row -->

        <div class="row justify-content-center">

            @if(ViewBag.IncidentToEdit.Type =="Medical-BLS")
            {
            <h2>Recommened Units for Dispatch: <span class="incident_info">1 Ambulance per #injured persons</span></h2>

            }
            @if(ViewBag.IncidentToEdit.Type=="Medical-ALS")
            {
            <h2>Recommened Units for Dispatch: <span class="incident_info">1 Medic per #injured persons </span></h2>
            }
            @if(ViewBag.IncidentToEdit.Type=="Fire")
            {
            <h2>Recommened Units for Dispatch: <span class="incident_info"> 1 Engine + 1 Truck + 1 Rescue Squad </span>
            </h2>
            }

        </div>



        <div class="row justify-content-around">
            <!--ambulance/medic row-->


            <div class="col-sm-4">
                <!--ambulance column/card-->
                <div class="card ambulance_background">
                    <div class="card-header text-center">
                        <h4>Available Ambulances: </h4>
                        <h6>Click On Ambulance To Dispatch</h6>


                    </div>

                    <div class="card-body text-center">
                        @foreach(Unit a in @ViewBag.AvailableAmbulances)
                        {


                        <span><a class="unit" asp-action="Confirm"
                                asp-route-incidentId=@ViewBag.IncidentToEdit.IncidentId
                                asp-route-unitId="@a.UnitId">@a.NumberType@a.Number, </a></span>

                        
                        }


                    </div>



                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-sm-4">
                <!--Medic Column/card-->
                <div class="card medic_background">
                    <div class="card-header text-center">
                        <h4>Available Medics</h4>
                        <h6>Click On Medic To Dispatch</h6>

                    </div>
                    <div class="card-body text-center">
                        @foreach(Unit a in @ViewBag.AvailableMedics)
                        {
                        <span><a class="unit" asp-action="Confirm"
                                asp-route-incidentId=@ViewBag.IncidentToEdit.IncidentId
                                asp-route-unitId="@a.UnitId">@a.NumberType@a.Number,</a></span> 
                        }


                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div><br>
        <!--end amb/medic row--->

        <div class="row justify-content-around">
            <!--engine/truck row-->
            <div class="col-sm-4">
                <!--engine col-->
                <div class="card engine_background">
                    <div class="card-header text-center">

                        <h4>Available Engines</h4>
                        <h6>Click On Engine To Dispatch</h6>
                    </div>
                    <div class="card-body text-center">
                        @foreach(Unit a in @ViewBag.AvailableEngines)
                        {

                        <span><a class="unit" asp-action="Confirm"
                                asp-route-incidentId=@ViewBag.IncidentToEdit.IncidentId
                                asp-route-unitId="@a.UnitId">@a.NumberType@a.Number,</a></span>
                        
                        }


                    </div>
                    <!--end card body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <!--end engine col-->

            <div class="col-sm-4">
                <!--truck col-->

                <div class="card truck_background">
                    <div class="card-header text-center">

                        <h4>Available Trucks</h4>
                        <h6>Click On Truck To Dispatch</h6>
                    </div>
                    <div class="card-body text-center">


                        @foreach(Unit a in @ViewBag.AvailableTrucks)
                        {

                        <span><a class="unit" asp-action="Confirm"
                                asp-route-incidentId=@ViewBag.IncidentToEdit.IncidentId
                                asp-route-unitId="@a.UnitId">@a.NumberType@a.Number,</a></span>
   
                        }

                    </div>
                    <!--end card body-->
                </div>
                <!--end card-->
            </div>
            <!--end truck col-->
        </div><br>
        <!--end engine/truck row -->

        <div class="row justify-content-center">
            <!--rescue squad row -->
            <div class="col-sm-4">
                <!--RS col-->

                <div class="card squad_background">
                    <div class="card-header text-center">

                        <h4>Available Rescue Squads</h4>
                        <h6>Click On Rescue Squad To Dispatch</h6>
                    </div>
                    <div class="card-body text-center">

                        @foreach(Unit a in @ViewBag.AvailableRescueSquads)
                        {

                        <span><a class="unit" asp-action="Confirm"
                                asp-route-incidentId=@ViewBag.IncidentToEdit.IncidentId
                                asp-route-unitId="@a.UnitId">@a.NumberType@a.Number,</a></span>

                        }
                    </div>
                    <!--end card body-->
                </div>
                <!--end card -->
            </div>
            <!--end col -->
        </div>
        <!--end row-->






        <style>
            .container-fluid {

                padding-left: 40px;
                padding-right: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .incident_info {
                color: red;
            }

            .container-fluid {
                margin-top: 30px;
            }

            .incident_info_row {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .card {
                background-color: white;
            }

            .unit {
                color: green;
                font-size: 175%;
                font-weight: 700;
            }

            .engine_background {
                background-color: rgb(231, 168, 168)
            }

            .ambulance_background {
                background-color: lightblue;
            }

            .medic_background {
                background-color: gold;

            }

            .truck_background {
                background-color: orange;
            }

            .squad_background {
                background-color: rgb(146, 115, 146);
            }

            .hover {
                font-size: 300%;
                color: red;
                text-decoration: none;
            }
        </style>
</body>

</html>