@model Incident



<div class="row h-100 justify-content-center">
    <div class="col-sm-7 my-auto">
        <div id="card" class="card card-block " style="margin-top: 70px;">

            <div class="card-body text-center">

                <h3>Are you sure you want to mark Incident @Model.IncidentId at <span style="font-weight: bold;">@Model.Location </span>complete? </h3>
                <h3>This action canNOT be undone!</h3>
                </h3>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <form asp-action= "CompleteIncident" asp-route-incidentId="@Model.IncidentId">
                            <input type="submit" class="btn btn-success btn-lg"
                                value="Terminate Incident Number @Model.IncidentId ">
                        </form>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark btn-lg" asp-action="Dashboard" asp-controller="Home"
                            asp-method="post" asp-route-incidentId="@Model.IncidentId">Cancel</a>


                    </div>
                </div>
            </div>
        </div>
    </div>