@model Incident

<div class="container-fluid">
    <div class="row  justify-content-between" style="height:100px">
        <h5>Dispatcher: @ViewBag.Dispatcher.FirstName @ViewBag.Dispatcher.LastName</h5>
        <form asp-action="Dashboard" method="get">
                <input type="submit" class="btn btn-danger" value= "Cancel" />
        </form>
        

    </div>



    <h2 class="text-center incident_descriptor">Enter Incident Information Carefully Below</h2><br>
    <div class="row justify-content-center">
        
        <form class="col-9 " asp-action="AddIncident" asp-controller="Home" method="post">

            <b><span asp-validation-for="Location"></span></b>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label incident_descriptor" asp-for="Location">INCIDENT LOCATION: </label>
                <div class="col-sm-7">
                    <input asp-for="Location" class="form-control descriptor_input">
                </div>
            </div><br><br>

            <span asp-validation-for="Type"></span>

            <div class="form-group row justify-content-between">
                <label class="col-sm-5 col-form-label incident_descriptor" asp-for="Type">INCIDENT TYPE:</label>
                <div class="col-sm-7">
                    <select class="form-control descriptor_input" asp-for="Type">
                        <option value="Medical-BLS">Medical-BLS</option>
                        <option value="Medical-ALS">Medical-ALS</option>
                        <option value="Fire">Fire</option>
                    </select><br><br>
                </div>
            </div>

            <span asp-validation-for="Description"></span>

        <div class="form-group row justify-content-between">
            <label class="col-sm-5 col-form-label incident_descriptor" asp-for="Description">NOTES: </label>
            
        
        <div class="col-sm-7">
                <input asp-for="Description" class="form-control descriptor_input"><br>
        </div>
        <input asp-for="UserId" type="hidden" value="@ViewBag.Dispatcher.UserId">
    </div>
            

    <div class="form-group row justify-content-between">


            <label class="col-sm-5 col-form-label incident_descriptor">INCIDENT GENERATED ON:</label>
            <div class="col-sm-7">
            <h5>@DateTime.Now.ToLongDateString() at @DateTime.Now.ToLongTimeString()</h5><br>
        </div>
    </div>

        <div class="row justify-content-center">
                <input class="btn btn-warning text-center btn-lg" type="submit" value="Generate New Incident">

        </div>

            






        </form>
    </div>
</div>

<style>
  
  .incident_descriptor{
        color:rgb(253, 4, 4);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:175%;
  }
    .descriptor_input{
        border:red solid 2px;
        
    }

.container-fluid{
    margin-top: 20px;
}
</style>