@model List<Incident>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <script>
            console.log($);
            $(document).ready(function () {

                $('h3').click(function () {
                    $('.btn').toggle(2000);
                });
            });
        </script>
        
        <div class="row justify-content-between">
            <div class="col-3">
                <h4>Dispatcher: @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName[0]</h4>
            </div>
            <div class="col-9 text-right">
                <h5><a asp-action="Logout">Logout</a></h5>
            </div>
        </div>
    </head>

    <body>
        <div class="row justify-content-center" style="margin-top: 70px;">
            <form asp-action="CreateIncident" asp-controller="Home" asp-method="post">
                <input class="btn btn-danger btn-lg" type="submit" value="Create New Incident">
            </form>
        </div><br>
        <div class="row justify-content-center">
            <h3>Incidents</h3>
        </div>
        <div class="row justify-content-around">
            
            @* Column containing "all unit"s" card*@
            <div class="col-2">
                <div class="row">
                    <div class="card all_units">
                        <div class="card-body" style="height: 750px;">
                            <div class="card-header text-center" style="height: 50px;">
                                <h4>All Units:</h4> &nbsp&nbsp&nbsp&nbsp
                            </div>
                            <div class="row justify-content-center">


                                @foreach(var unit in @ViewBag.AllUnits)

                                {
                                    @if (unit != @ViewBag.AllUnits[@ViewBag.AllUnits.Count-1])
                                    {
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number,&nbsp&nbsp
                                        </a></span>
                                    }
                                    else{
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number
                                        </a></span>
                                    }
                                
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Col containing incident table *@
            <div class="col-8">
                <table class="table table-border-top">ג
                    <thead>
                        <tr>
                            <th style="vertical-align: top;text-align: center;">Incident Status</th>
                            <th style="vertical-align: top; text-align: center;">Incident ID</th>
                            <th style="vertical-align: top; text-align: center;">Incident Location</th>
                            <th>Incident Type</th>
                            <th style="vertical-align: top; text-align: center;">Notes</th>
                            <th style="vertical-align: top; text-align: center;">Units Responding (click to remove)</th>
                            <th style="vertical-align: top; text-align: center;">Action</th>
                            <th style="vertical-align: top; text-align: center;">Dispatch</th>
                            <th style="vertical-align: top; text-align: center;">Incident Time/Date</th>
                        </tr>
                    </thead>
                    @* Incident Table *@
                    <tbody>
                        @foreach(Incident inc in @Model.OrderByDescending(i=>i.CreatedAt))
                        {
                        @if(@inc.IsActive==false)
                        {
                        <tr class="complete">
                            <td>COMPLETE</td>
                            <td>@inc.IncidentId</td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>@inc.Description</td>
                            <td>

                            </td>
                            <td>Incident Complete-No Action Possible</td>
                            <td>Cannot Add Units</td>
                            <td>@inc.CreatedAt</td>
                        </tr>
                        }
                        else if(@inc.IsActive==true && inc.dispatchedUnits.Count()==0)
                        {
                        <tr class="blinking1">
                            <td class="status_descriptor">AWAITING DISPATCH</td>
                            <td><a asp-action="EditIncident" asp-route-incidentId="@inc.IncidentId">@inc.IncidentId</a></td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>@inc.Description</td>
                            <td class="status_descriptor">
                                AWAITING DISPATCH
                            </td>
                            <td><a asp-action="ConfirmCompleteIncident" asp-route-incidentId="@inc.IncidentId">Mark
                                    Incident
                                    Complete</a>
                            </td>
                            <td><a asp-action="AddUnitToIncident" asp-route-incidentId="@inc.IncidentId">Add Units to
                                    Incident</a>
                            </td>
                            <td>@inc.CreatedAt</td>


                        </tr>
                        }
                        else if(@inc.IsActive==true && inc.dispatchedUnits.Count()!=0)
                        {
                        <tr class="incident_dispatched">
                            <td class="status_descriptor">DISPATCHED</td>
                            <td><a asp-action="EditIncident" asp-route-incidentId="@inc.IncidentId">@inc.IncidentId</a></td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>@inc.Description</td>
                            <td>
                                @foreach(var u in @inc.dispatchedUnits)
                                {
                                    @if(@u.UnitDispatched.ResponseStatus=="Dispatched")
                                    {
                                        <span><a class="unit_dispatched" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }
                                    @if(@u.UnitDispatched.ResponseStatus=="Enroute")
                                    {
                                        <span><a class="enroute" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }
                                    @if(@u.UnitDispatched.ResponseStatus=="On The Scene")
                                    {
                                        <span><a class="on_scene" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }
                                    @if(@u.UnitDispatched.ResponseStatus=="Enroute To Hospital")
                                    {
                                        <span><a class="to_hospital" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }
                                    @if(@u.UnitDispatched.ResponseStatus=="At the Hospital")
                                    {
                                        <span><a class="at_hospital" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }
                                    @if(@u.UnitDispatched.ResponseStatus=="Clear of Incident")
                                    {
                                        <span><a class="clear" asp-action="ViewUnit" asp-route-incidentId=@inc.IncidentId
                                            asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                    }           
                                }
                            </td>
                            <td><a asp-action="ConfirmCompleteIncident" asp-route-incidentId="@inc.IncidentId">Mark
                                    Incident
                                    Complete</a>
                            </td>
                            <td><a asp-action="AddUnitToIncident" asp-route-incidentId="@inc.IncidentId">Add Units to
                                    Incident</a>
                            </td>
                            <td>@inc.CreatedAt</td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <!--end col-->
            <!-- col containing "available units", "on a call", "out of service" cards-->
            <div class="col-2">
                <div class="row">
                    <div class="card available" style="height: 350px;">
                        <div class="card-header text-center" style="height: 50px;">
                            <h4>Available Units:</h4> &nbsp&nbsp&nbsp&nbsp
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">

                                @foreach(var unit in @ViewBag.AvailableUnits)
                                {
                                    @if(unit != @ViewBag.AvailableUnits[@ViewBag.AvailableUnits.Count-1])
                                    {
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number,&nbsp
                                        </a></span>
                                    }
                                    else
                                    {
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number
                                        </a></span>
                                    }
                                
                                }
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="card on_call" style="width:100%">
                        <div class="card-header text-center" style="height: 50px;">
                            <h4>On A Call:</h4> &nbsp&nbsp&nbsp&nbsp
                            <h4>@ViewBag.UnitsOnCall.Count</h4>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                @if (@ViewBag.UnitsOnCall!=null)
                                {
                                    @foreach(var unit in @ViewBag.UnitsOnCall)
                                {
                                    @if(unit != @ViewBag.UnitsOnCall[@ViewBag.UnitsOnCall.Count-1])
                                    {
                                        <span><a class="unit_name " asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number, &nbsp&nbsp
                                        </a></span>
                                    }
                                    else{
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number 
                                        </a></span>
                                    }
                                
                                }
                                }
                                
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="card " style="width:100%; height:150px;">
                        <div class="card-header text-center" style="height: 50px;">
                            <h4>Out of Service:</h4>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">

                                @foreach(var unit in @ViewBag.OOS)
                                {
                                    @if(unit != @ViewBag.OOS[@ViewBag.OOS.Count-1])
                                    {
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number,&nbsp
                                        </a></span>
                                    }
                                    else
                                    {
                                        <span><a class="unit_name" asp-action="ViewUnit"
                                            asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number
                                        </a></span>
                                    }
                                
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- end col containing "available units", "on a call", "out of service" cards-->
        </div>
         <!--end 3-col row-->


        <!--begin row with 3 forms: "create rescuer", "create unit", "available personnel"-->
        <div class="form-row justify-content-center ">
            <div class="col-6">
                <div class="row justify-content-center">
                    <div class="col-2">

                        <form asp-action="CreateRescuer" asp-controller="Home" asp-method="post">
                            <input class="btn btn-dark btn-sm " type="submit" value="Create New Rescuer">
                        </form>
                    </div>

                    <div class="col-2">
                        <form asp-action="CreateUnit" asp-controller="Home" asp-method="post">
                            <input class="btn btn-dark btn-sm " type="submit" value="Create New Unit">
                        </form>
                    </div>

                    <div class="col-2">
                        <form asp-action="AvailablePersonnel" asp-controller="Home" asp-method="post">
                            <input class="btn btn-dark btn-sm " type="submit" value="View Personnel">
                        </form>
                    </div>
                </div>
            </div>
        </div><br>
        <!--end row with 3 forms: "create rescuer", "create unit", "available personnel"-->



        



        <style type="text/css">
            .incident_active {
                background-color: rgb(196, 88, 88);

            }

            /*  Incident statuse*/
            .incident_dispatched {
                background-color: yellow;
            
            }
             .unit_dispatched{
                animation: blinkingText2 1.2s infinite;
                font-weight:700;
            }
            /*  Unit statuses while responding*/
            .enroute{
                color: rgb(248, 136, 8);
                font-weight:700;
            }
            .on_scene{
                color: rgb(130, 226, 130);
                font-weight:700;
            }
            
            .to_hospital{
                color: rgb(236, 15, 207);
                font-weight:700;
                
            }
            .at_hospital{
                color:rgb(18, 32, 230);
                font-weight:700;
            }
            .clear{
                color: gray;
                text-decoration: line-through;
            
            }
            /*  End Unit statuses while responding*/

            .complete {
                background-color: slategray;
                
            }

            .blinking1 {
                animation: blinkingText1 0.8s infinite;
            }

           

            .unit_name {
                color: darkblue;
                font-size: 150%;
            }
            .status_descriptor{
                font-weight: 700
            }

            @@keyframes blinkingText1 {
                0% {
                    background-color: red;
                }
;
                25% {
                    background-color: transparent;
                }

                50% {
                    background-color: transparent;
                }

                75% {
                    background-color: transparent;
                }

                100% {
                    background-color: red;
                }
            }
            @@keyframes blinkingText2 {
                0% {
                    color: red;
                }
;
                25% {
                    color: red;
                }

                50% {
                    color: transparent;
                }

                75% {
                    color: red;
                }

                100% {
                    color: red;
                }
            }

            .container-fluid {

                padding-left: 40px;
                padding-right: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .table_header {
                vertical-align: top;
            }

            td {
                color: black;
            }

            .available {
                background-color: rgb(150, 236, 150);
            }

            .on_call {
                background-color: yellow;
    
            }
            .all_units{
                background-color: white;
            }

            .card {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
            }
            td{
                font-size: 125%;
            }
            
        </style>



    </body>

    </html>