@model List<Incident>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>
            console.log($);
            $(document).ready(function () {

                $('h3').click(function () {
                    $('.btn').toggle(2000);
                });


                function flashrow() {
                    $('.roww').removeClass("active");
                    $('.roww').addClass("active");
                }
                setInterval(flashrow, 1200);










            });

        </script>
    </head>
    <body>

        <div class="row justify-content-between">
            <div class="col-11">
                <h4>Hello, Dispatcher @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName</h4>
            </div>
            <div class="col-1">
                <h5><a class="nav-link" asp-action="Logout">Logout</a></h5>
            </div>
        </div>
        <div class="form-group">
            <form asp-action="CreateIncident" asp-controller="Home" asp-method="post">
                <input class="btn btn-outline-danger btn-lg center" type="submit" value="Create New Incident">
            </form><br>
        </div>
        <div class="row justify-content-start">
            <div class="col ">
                <h3>Incidents</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-border-top">
                    <thead>
                        <tr>
                            <th style="vertical-align:top">Incident Status</th>
                            <th style="vertical-align:top">Incident ID</th>
                            <th style="vertical-align:top">Incident Location</th>
                            <th style="vertical-align:top" >Incident Type</th>
                            <th style="vertical-align:top">Units Responding (click to remove)</th>
                            <th style="vertical-align:top">Action</th>
                            <th style="vertical-align:top">Dispatch</th>
                            <th style="vertical-align:top">Incident Time/Date</th>
                        </tr>

                    </thead>
                    <!--Incident Table -->
                    <tbody>
                        @foreach(Incident inc in @Model.OrderByDescending(i=>i.CreatedAt))
                        {
                        @if(@inc.IsActive==false)
                        {
                        <tr class="complete">
                            <td>COMPLETE</td>
                            <td>@inc.IncidentId</td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>

                            </td>
                            <td>Incident Complete-No Action Possible</td>
                            <td>Cannot Add Units</td>
                            <td>@inc.CreatedAt</td>
                        </tr>
                        }
                        else if(@inc.IsActive==true && inc.dispatchedUnits.Count()==0) 
                        {
                        <tr class="blinking">
                            <td>AWAITING DISPATCH</td>
                            <td>@inc.IncidentId</td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>
                                AWAITING DISPATCH
                            </td>
                            <td><a asp-action="ConfirmCompleteIncident" asp-route-incidentId="@inc.IncidentId">Mark
                                    Incident
                                    Complete</a>
                            </td>
                            <td><a asp-action="AddUnitToIncident" asp-route-incidentId="@inc.IncidentId">Add Units to
                                    Incident</a>
                            </td>
                            <td>@inc.CreatedAt</td>


                        </tr>
                        }
                        else if(@inc.IsActive==true)
                        {
                        <tr class="dispatched">
                            <td>DISPATCHED</td>
                            <td>@inc.IncidentId</td>
                            <td>@inc.Location</td>
                            <td>@inc.Type</td>
                            <td>
                                @foreach(var u in @inc.dispatchedUnits)
                                {
                                <span><a asp-action="ConfirmRemoval" asp-route-incidentId=@inc.IncidentId
                                        asp-route-unitId="@u.UnitDispatched.UnitId">@u.UnitDispatched.NumberType@u.UnitDispatched.Number</a></span>
                                }
                            </td>
                            <td><a asp-action="ConfirmCompleteIncident" asp-route-incidentId="@inc.IncidentId">Mark
                                    Incident
                                    Complete</a>
                            </td>
                            <td><a asp-action="AddUnitToIncident" asp-route-incidentId="@inc.IncidentId">Add Units to
                                    Incident</a>
                            </td>
                            <td>@inc.CreatedAt</td>


                        </tr>
                        }

                        }
                    </tbody>
                </table>
            </div>
            <!--end col-->
        </div>
        <div class="form-row justify-content-around">
            <div class="col-2">

                <form asp-action="CreateRescuer" asp-controller="Home" asp-method="post">
                    <input class="btn btn-outline-info btn-sm " type="submit" value="Create New Rescuer">
                </form>
            </div>

            <div class="col-2">
                <form asp-action="CreateUnit" asp-controller="Home" asp-method="post">
                    <input class="btn btn-outline-info btn-sm " type="submit" value="Create New Unit">
                </form>
            </div>

            <div class="col-2">
                <form asp-action="AvailablePersonnel" asp-controller="Home" asp-method="post">
                    <input class="btn btn-outline-info btn-sm " type="submit" value="View Available Personnel">
                </form>
            </div>

        </div><br>

        <div class="row">

            <h4>Avaialable Units</h4>
            @foreach(var unit in @ViewBag.AvailableUnits)
            {
            <span><a asp-action="ViewUnit" asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number,
                </a></span>
            }

        </div>

        <div class="row">
            <h4>All Units</h4>
            @foreach(var unit in @ViewBag.AllUnits)
            {
            <span><a asp-action="ViewUnit" asp-route-unitId=@unit.UnitId>@unit.NumberType@unit.Number,
                </a></span>
            }
        </div>
        </div>


        <style type="text/css">
            .active {
                background-color: rgb(196, 88, 88);

            }

            .dispatched {
                background-color: yellow;
            }

            .complete {
                background-color: slategray;
            }

            .blinking {
                animation: blinkingText 0.8s infinite;
            }

            @@keyframes blinkingText {
                0% {
                    background-color: red;
                }

                25% {
                    background-color: transparent;
                }

                50% {
                    background-color: transparent;
                }

                75% {
                    background-color: transparent;
                }

                100% {
                    background-color: red;
                }
            }

            .container {
                width: 90%;
            }
            .table_header {
vertical-align: top;                
            }
        </style>



    </body>

    </html>