

@model Rescuer
<nav class="nav center">
<a class="nav-link" asp-action="Dashboard">Home</a><br>
<a class="nav-link" asp-action="Logout">Logout</a><br>
</nav>
<h1 class="center">Rescuer Details</h1>
<h3>Rescuer ID:&nbsp @Model.RescuerId</h3><br>

<h3>Rescuer First Name: &nbsp @Model.FirstName</h3><br>

<h3>Rescuer Last Name:&nbsp @Model.LastName</h3><br>
<h3>Rescuer Rank:&nbsp @Model.Rank</h3><br>

    
@foreach(Assignment a in @Model.AssignedUnit)
    {
       <h3>Unit Currently Assigned to: @a.UnitAssigned.NumberType@a.UnitAssigned.Number  <a asp-action="RemoveRescuerFromUnit" asp-route-unitId=@a.UnitAssigned.UnitId asp-route-rescuerId=@Model.RescuerId>Remove from this Unit</a></h3>
    }
@if(@Model.IsAssigned==false)
{
    <h3>Unit Currently Assigned to:  None  &nbsp &nbsp &nbsp <a asp-action="AddRescuerToUnit" asp-route-rescuerId=@Model.RescuerId> &nbsp  Assign to Unit</a>  </h3>
}




