@model Rescuer


<div class="row  justify-content-end" style="margin-top: 20px;">
        
        <a asp-action="AvailablePersonnel" class="btn btn-danger">Back</a>
    
    </div>



<div class="row justify-content-center"style="margin: 50px;">

    <h1>Rescuer Details</h1>
</div>
<div class="row justify-content-center">
    <!--Rescuer Info row-->
    <div class="col-3 offset-1 ">
        <!--Rescuer Info column-->
        <div class="row justify-content-around">
            <div class="col-6 text-left">
                <h3 class="rescuer_descriptor">Rescuer ID:</h3>
            </div>
            <div class="col-6 text-left">
                <h3> @Model.RescuerId</h3>
            </div>

        </div><br>

        <div class="row justify-content-around">
            <div class="col-6 text-left">
                <h3 class="rescuer_descriptor">Rescuer First Name: </h3>
            </div>
            <div class="col-6 text-left">
                <h3>@Model.FirstName</h3>
            </div>
        </div><br>


        <div class="row justify-content-around">
            <div class="col-6 text-left">
                <h3 class="rescuer_descriptor">Rescuer Last Name: </h3>
            </div>
            <div class="col-6 text-left">
                <h3>@Model.LastName</h3>
            </div>
        </div><Br>

            <div class="row justify-content-around">
                    <div class="col-6 text-left">
                        <h3 class="rescuer_descriptor">Rescuer Age: </h3>
                    </div>
                    <div class="col-6 text-left">
                        <h3>@Model.Age</h3>
                    </div>
                </div><Br>



        <div class="row justify-content-around">
            <div class="col-6 text-left">
                <h3 class="rescuer_descriptor">Rescuer Rank:</h3>
            </div>
            <div class="col-6 text-left">
                <h3> @Model.Rank</h3>

            </div>

        </div><Br>

        <div class="row justify-content-around">
            @if(@Model.IsAssigned==false)
            {
                <div class="col-6 text-left">
                        <h3 class="rescuer_descriptor">No Unit Assignment </h3>
                    </div>
                    <div class="col-6 text-left">
                        <a class="btn btn-info" asp-action="AddRescuerToUnit"
                        asp-route-rescuerId=@Model.RescuerId>  Assign to Unit</a> 
                        </div>
                        
                        
            }
            @if(@Model.IsAssigned==true)
            
            {
                @foreach(Assignment a in @Model.AssignedUnit)
                {
                    <div class="col-6 text-left">
                            <h3 class="rescuer_descriptor">Current Assignment: </h3>
                        </div>
        
                    
                    <div class="col-3 text-left">
                        <h3>@a.UnitAssigned.NumberType@a.UnitAssigned.Number</h3>
                    </div>
                    
                <div class="col-3 ">
                        <a   class="btn btn-warning" asp-action="RemoveRescuerFromUnit" asp-route-unitId=@a.UnitAssigned.UnitId
                            asp-route-rescuerId=@Model.RescuerId>Remove from Unit</a>
                    </div>
                    
                }
            }   
        </div>         
    </div><!--End Rescuer Info column-->
    
</div><!--End Rescuer Info row-->

<div class="row justify-content-center">
    <a class="btn btn-dark btn-sm" asp-action="EditRescuer" asp-route-rescuerId="@Model.RescuerId" style="margin-top: 20px;">Edit Details</a>
</div>



<style>
.container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }
.rescuer_descriptor{
    font-weight: 700;
    font-size: 175%;
}
</style>
