@model Unit

<div class="row  justify-content-end" style="margin-top: 20px;">
    <a asp-action="Dashboard" class="btn btn-danger">Back</a>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <div class="row  justify-content-center">

            <div class="col-3">
                <h2 class="descriptor">Unit:</h2>
            </div>
            <div class="col-6 ">
                <h2>@Model.NumberType@Model.Number</h2>
            </div>

        </div>
        <div class="row  justify-content-center">
            <div class="col-3 ">
                <h2 class="descriptor">Type:</h2>
            </div>
            <div class="col-6 ">
                <h2>@Model.UnitType</h2>
            </div>
        </div>

    </div>
</div>
<div class="row justify-content-around" style="margin-top:70px">
    <div class="col-4">

        <div class="row justify-content-center">
            <div class="col-12 text-right">
                <div class="card">
                    <div class="card-body">

                        <div class="row justify-content-around">
                            <div class="col-3 text-left">
                                <h2 class="descriptor">Status:</h2>
                            </div>
                            <div class="col-6 ">
                                @if (@Model.IsAvailable==true)
                                {
                                <h2 class="available">AVAILABLE/IN SERVICE</h2><br>
                                }
                                
                                else if (@Model.IsAvailable==false && @Model.calls.Count==1)
                                {
                                    <h2 class="available">ON A CALL</h2><br>
                                }
                                

                                else if (@Model.IsAvailable==false && @Model.calls.Count==0)
                                {
                                <h2 class="occupied">OUT OF SERVICE</h2><br>
                                }
                                
                            </div>

                        </div>

                        <div class="row justify-content-center">
                            @if (@Model.IsAvailable==true)
                            {
                            <form asp-action="InactivateUnit" asp-route-unitId=@Model.UnitId Controller="Home"
                                method="post">

                                <input type="submit" value="Take Unit Out Of Service" class="btn btn-outline-danger">
                            </form>
                            }
                            @if (@Model.calls.Count==0 && @Model.IsAvailable==false)
                            {
                            <form asp-action="ActivateUnit" asp-route-unitId=@Model.UnitId Controller="Home"
                                method="post">

                                <input type="submit" value="Place Unit In Service" class="btn btn-outline-success">
                            </form>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="col-5 text-left">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="card">

                    <div class="card-header">
                        <h2 class="descriptor">Personnel:</h2>
                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Rank</th>
                                    <th>Action</th>
                                </tr>


                                @foreach(Assignment Asst in @Model.personnel)
                                {
                                <tr>
                                    <td>@Asst.RiderAssigned.LastName</td>
                                    <td>@Asst.RiderAssigned.FirstName</td>
                                    <td>@Asst.RiderAssigned.Rank</td>
                                    <td><a asp-action="RemoveRescuerFromUnit"
                                            asp-route-rescuerId="@Asst.RiderAssigned.RescuerId"
                                            asp-route-unitId="@Asst.UnitId">Remove From Unit</a></td>
                                </tr>

                                }

                            </thead>
                        </table>
                    </div>

                </div>
            </div>

        </div>



    </div>


</div><br><br>


@if (@Model.calls.Count==1)
{
<div class="row justify-content-center">
    <div class="card active_incident">
        <div class="card-header text-center">
            <h2 class="descriptor">Active Incidents</h2>
        </div>
        <div class="card-body">
            @foreach(Dispatchh D in @Model.calls)
            {
            <h3>Incident #@D.DispatchedIncident.IncidentId; @D.DispatchedIncident.Type at @D.DispatchedIncident.Location
            </h3>

            }
        </div>
    </div>

</div>
}


<style>
    .occupied {
        color: red;

    }

    .available {
        color: green;
    }

    .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }

    .descriptor {
        font-weight: bold;
    }

    .card {
        background-color: white
    }
    .active_incident{
        background-color: yellow;
    }

  
</style>