@model Unit

<div class="row  justify-content-beginning" style="margin: 30px;">
    <div class="col offset-5 ">
            <a asp-action="Dashboard" class=" btn btn-danger btn-lg">Dashboard</a>
    </div> 
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <div class="row  justify-content-center">

            <div class="col-3">
                <h2 class="descriptor">Unit:</h2>
            </div>
            <div class="col-6 ">
                <h2>@Model.NumberType@Model.Number</h2>
            </div>

        </div>
        <div class="row  justify-content-center">
            <div class="col-3 ">
                <h2 class="descriptor">Type:</h2>
            </div>
            <div class="col-6 ">
                <h2>@Model.UnitType</h2>
            </div>
        </div>

    </div>
</div>
<div class="row justify-content-around" style="margin-top:70px">
    <div class="col-4">

        <div class="row justify-content-center">
            <div class="col-12 my-auto text-right">
                <div class="card card-block  justify-content-center" >
                    <div class="card-body ">

                        <div class="row justify-content-around" style="margin-top: 50px;">
                            <div class="col-3 text-left">
                                <h2 class="descriptor">Unit Status:</h2>
                            </div>
                            <div class="col-6 ">
                                @if (@Model.IsAvailable==true)
                                {
                                <h2 class="available">AVAILABLE/IN SERVICE</h2><br>
                                }
                                else if (@Model.IsAvailable==false && @Model.calls.Count==1)
                                {
                                <h2 class="oncall">ON A CALL</h2><br>
                                }

                                else if (@Model.IsAvailable==false && @Model.calls.Count==0)
                                {
                                <h2 class="occupied">OUT OF SERVICE</h2><br>
                                }

                            </div>
                        </div>
                            @if (@Model.IsAvailable==true)
                            {
                            <form asp-action="InactivateUnit" class="text-center" asp-route-unitId=@Model.UnitId Controller="Home"
                                method="post">

                                <input type="submit" value="Take Unit Out Of Service" class="btn btn-outline-danger">
                            </form>
                            }
                            @if (@Model.calls.Count==0 && @Model.IsAvailable==false)
                            {
                            <form asp-action="ActivateUnit" class="text-center" asp-route-unitId=@Model.UnitId Controller="Home"
                                method="post">

                                <input type="submit" value="Place Unit In Service" class="btn btn-outline-success">
                            </form>
                            }
                            @if (@Model.calls.Count==1 && @Model.IsAvailable==false)
                            {
                            <div class="row justify-content-around">
                                <div class="col-3 text-left">
                                    <h2 class="descriptor">Response Status:</h2>
                                </div>
                                <div class="col-6">
                                    <h2>@Model.ResponseStatus</h2>
                                </div>

                            </div><br>
                            <div class="row justify-content-between">
                                <div class="col text-center">
                                    <form asp-action="EditResponseStatus" asp-route-status="enroute"
                                        asp-route-unitId=@Model.UnitId Controller="Home" method="post">
                                        <input type="submit" value="Enroute" class="btn btn-warning">
                                    </form>
                                </div>
                                <div class="col text-center">
                                    <form asp-action="EditResponseStatus" asp-route-status="on_scene"
                                        asp-route-unitId=@Model.UnitId Controller="Home" method="post">
                                        <input type="submit" value="On Scene" class="btn btn-success">
                                    </form>
                                </div>
                                @if (@Model.NumberType=="A" | @Model.NumberType=="M")
                                        {
                                        <div class="col text-center">
                                            <form asp-action="EditResponseStatus" asp-route-status="transport"
                                                asp-route-unitId=@Model.UnitId Controller="Home" method="post">
                                                <input type="submit" value="To Hospital" class="btn btn-info">
                                            </form>
                                        </div>
                                        <div class="col text-center">
                                            <form asp-action="EditResponseStatus" asp-route-status="at_hospital"
                                                asp-route-unitId=@Model.UnitId Controller="Home" method="post">
                                                <input type="submit" value="At Hospital" class="btn btn-primary">
                                            </form>
                                        </div>
                                        }

                                @foreach(Dispatchh d in @Model.calls)
                                {
    
                                <div class="col text-center">
                                    <form asp-action="ConfirmClearFromIncident" 
                                    
                                        asp-route-unitId=@Model.UnitId asp-route-incidentId= "@d.DispatchedIncident.IncidentId" method="post">
                                        <input type="submit" value="Clear Of Incident" class="btn btn-dark">
                                    </form>
                                </div>
                            }
                            
                            </div>
                        }
                            
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="col-5 text-left">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="card">

                    <div class="card-header">
                        <h2 class="descriptor">Personnel:</h2>
                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Rank</th>
                                    <th>Action</th>
                                </tr>


                                @foreach(Assignment Asst in @Model.personnel)
                                {
                                <tr>
                                    <td>@Asst.RiderAssigned.LastName</td>
                                    <td>@Asst.RiderAssigned.FirstName</td>
                                    <td>@Asst.RiderAssigned.Rank</td>
                                    <td><a asp-action="RemoveRescuerFromUnit"
                                            asp-route-rescuerId="@Asst.RiderAssigned.RescuerId"
                                            asp-route-unitId="@Asst.UnitId">Remove From Unit</a></td>
                                </tr>

                                }

                            </thead>
                        </table>
                        <form asp-action="AvailablePersonnel" asp-controller="Home" asp-method="post">
                            <input class="btn btn-outline-info btn-sm " type="submit" value="View Personnel">
                        </form>
                    </div>

                </div>
            </div>

        </div>



    </div>


</div><br><br>


@if (@Model.calls.Count==1)
{
<div class="row justify-content-center">
    <div class="col-6">
    <div class="card active_incident">
        <div class="card-header text-center">
            <h2 class="descriptor">Active Incidents</h2>
        </div>
        <div class="card-body">
            @foreach(Dispatchh D in @Model.calls)
            {
            <div class="row">
                <div class="col-9">
                        <h3>Incident #@D.DispatchedIncident.IncidentId; @D.DispatchedIncident.Type at @D.DispatchedIncident.Location
                            </h3>
                </div>
                <div class="col-3 text-right">
                        <span><a class="btn btn-danger" asp-action="ConfirmRemoval" asp-route-incidentId=@D.DispatchedIncident.IncidentId
                            asp-route-unitId="@Model.UnitId">Remove from Incident</a></span>
                </div>
                


            </div>
            <div class="row">
                    <div class="col-9"><h3>Dispatched at: @D.CreatedAt.ToString("HH:mm") hours</h3></div>
                
            </div>
            
           
            }
            
        </div>
    </div>
</div>
</div>
}


<style>
    .occupied {
        color: red;

    }
    .oncall{
        color:orange;
    }

    .available {
        color: green;
    }

    .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }

    .descriptor {
        font-weight: bold;
    }

    .card {
        background-color: white
    }

    .active_incident {
        background-color: rgb(252, 252, 163);
    }
</style>